<% if notice %>
  <div class="notification is-radiusless is-info">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="notification is-radiusless is-danger">
    <%= alert %>
  </div>
<% end %>