<div class="columns">
  <div id="post-list" class="column is-10 is-offset-1">
    <div class="box">
      <h1 class="is-size-4">Editing Post</h1>

      <br>

      <%= render 'form', post: @post, show_post: true %>
    </div>
  </div>
</div>
