<div class="columns">
  <div id="post-list" class="column is-two-thirds is-offset-2">
    <% @posts.order("updated_at DESC").each do |post| %>
      <%= render "elements/post_item", post: post %>
    <% end %>
  </div>
</div>